@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@400;700&family=Inter:wght@400;700&display=swap');

#root{
  font-family: 'IBM Plex Sans Thai', sans-serif;
}

.reset-text {
  color: blue;
  text-decoration: underline;
}

.rotate180 {
  transform: rotate(180deg);
}